@import url(responsivo.css);
*{
    margin: 0;
    padding: 0;
    font-family:Roboto, arial, helvetica, sans-serif;
}

body{
    background-color:#000;
}
.header-bg{
    background-color:#080707;
}

.header{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    /* height: 3.75rem; */
    padding: 20px;
    box-sizing: border-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap:40px;
}

nav ul li{
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .1em;
    
    line-height: normal;

}

nav a {
    text-decoration:none;
    color:#fff;
    font-size: 16px;
    position: relative;
}

nav a::after{
    position: absolute;
    content: " ";
    display: block;
    height:2px;
    width:0;
    background-color: #FFBF00;
    margin-top: 4px;
    transition: 0.5s;
}
.active{
    /* 6e6464 */
    /* background-color: #1b1b1a;
    padding: 10px 16px;
    border-radius:8px; */

}
nav a:hover:after {
    /* ffd502 */
    /* background-color: #FFBF00;
    padding: 10px 16px;
    border-radius: 8px;
    color: #000;
    font-weight: bold; */
    width: 100%;
}

/* descrição main */
.descri{
    color:#fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-areas: 1, 1fr; */
    align-items: center;
}
.imgBike {
    width: 100%;
}