.conteudo-bg {
    background: linear-gradient(to right, var(--cor-1) 30%,  var(--cor-12) 30%);
}
.bicicleta-conteudo-pagina {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 60px 0px;
    justify-items: center;
}
.bicicleta-descricaoCard {
    display: grid;
    grid-template-columns: 1fr auto;
}
.bicicleta-descricaoCard h2,
.bicicleta-descricaoCard p {
    grid-column: 1/ -1;
}
.bicicleta-descricaoCard h2 {
    margin-bottom: -30px;
    position: relative;
}
.bicicleta-descricaoCard h2::before {
    content: "";
    width: 14px;
    height: 8px;
    background-color: var(--cor-p1);
    display: block;
    position: absolute;
   top: -6px;
}
.bicicleta-descricaoCard p {
    margin-bottom: -20px;
}

.bicicleta-descricaoCard a {
    place-self: end;
}
.imgCards {
    position: relative;

}
.imgCards span {
    background-color: var(--cor-12);
    padding: 8px 16px 8px 8px;
    color: var(--cor-p1);
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 0px;
    border-radius: 5px 0 0 5px;
}

.bicicleta-descricaoCard ul {
    display: grid;
    gap: 8px;
}

.bicicleta-descricaoCard li {
    display: flex;
    gap: 8px;
    align-items: center;
}
.bicicleta-descricaoCard li img{
    width: 24px;
}

@media(max-width:1024px){
    .bicicleta-descricaoCard h2,
    .bicicleta-descricaoCard p{
        margin-bottom: 20px;
    }
}
@media(max-width:768px) {
    .conteudo-bg {
        background: linear-gradient( var(--cor-1) 5%,  var(--cor-12) 30%);
        padding: 20px 0;
        margin-bottom: 20px;
        }
    .bicicleta-conteudo-pagina {
        grid-template-columns: 1fr;
        padding: 0px 0 60px 0;
        text-align: center;
}
    .bicicleta-descricaoCard{
        grid-template-columns: 1fr;
    }
    .imgCards{
        margin-bottom: 10px;
    }
    .bicicleta-descricaoCard h2::before {
         display: none;
        }
    .bicicleta-descricaoCard h2{
        margin-bottom: -10px;
        color: var(--cor-p1);
    }
    .bicicleta-descricaoCard p{
        padding:40px 0px 20px 0px;
    }
    .bicicleta-descricaoCard ul{
        grid-template-columns: 1fr 1fr;
        margin:0 auto;
        padding-bottom: 46px;
        gap: 30px;
        align-items: center;
    }
    .bicicleta-descricaoCard a{
        place-self: center;
        
    }
}
@media(max-width:375px){
    .bicicleta-descricaoCard ul {
            grid-template-columns: 1fr;
            margin: 0 auto;
            padding-bottom: 46px;
            gap: 30px;
            align-items: center;
        }

    .conteudo-bg {
        background-color: var(--cor-12);
        /* padding: 40px 0; */
        margin-bottom: 20px;
    }
}