.bicicletas-lista {
    padding-top: 40px;
    /* padding-bottom:0px; */
}

.bicicletas-lista h2 {
    margin:20px 0px 40px 0;
}
.bicicletas-lista a{
    display: block;
    margin-bottom: 60px;
}

.bicicletas-lista a:hover{
    transform: scale(1.05) rotate(-2deg);
    cursor: pointer;
}
.bicicletas-lista ul {
    display: flex;
    gap: 40px;
    padding: 0 20px 20px 20px;
    max-height: 1400px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
}
.bicicletas-lista li{
    flex: 1;
    min-width: 280px;
}
.bicicletas-lista img{
    padding-bottom: 10px;
}
.bicicletas-lista h3{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}
.bicicletas-lista h3::before{
    content:'';
    display: inline-block;
    width: 12px;
    height: 8px;
    background:var(--cor-p1);
    margin-right: 8px;
}

.bicicletas-lista li span{
    padding-left: 20px;
}

/* resposivo */
@media ( max-width: 942px){
    .bicicletas-lista a:hover {
            transform: none;
            cursor: pointer;
    
        }

    .bicicletas-lista a:hover h3::before{
        width: 20px;
        transition: 0.2s;
    }
}
@media (max-width:800px){
.bicicletas-lista {
        padding-top: 22px;
        
        
    }
.bicicletas-lista ul{
    gap: 20px;
}
.bicicletas-lista a{
    margin-bottom: 20px;
}

.bicicletas-lista a:hover {
    transform:none;
    cursor: pointer;
    
}
}