.conteiner {
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.conteinerMedio {
    box-sizing: border-box;
    max-width:1100px;
    padding-left: 40px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* titulos das paginas segudarias */
.titulo-pag-segundaria {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: start;
    gap: 6px;
    background-color: var(--cor-11);
    padding: 60px 0px 40px 130px;
    margin-bottom: 60px;
}
.titulo-pag-segundaria span {
    display: block;
    letter-spacing: .0169rem;
    text-transform: uppercase;
    position: relative;
}

.titulo-pag-segundaria span::before {
    content: "";
    display: block;
    width: 15px;
    height: 4px;
    background-color: var(--cor-p1);
    position: absolute;
    left: -24px;
    top: 6px;
}

.titulo-pag-segundaria h1 {
    text-transform: uppercase;
}
/* fim do titulos segundarios */

.botao {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--cor-p1);
    border-radius: .25rem;
    box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: var(--cor-p5);
    font: 600 18px/1.35 "Poppins", sans-serif;
    border: none;
    cursor: pointer;
}

.botao:hover {
    background-color: var(--cor-p3);
    color: var(--cor-1);
}
.seta{
    display: flex;
    align-items: center;
    color: var(--cor-p5);
}
.botao.seta::after{
    content: "";
    display: inline-block;
    width: 18px;
    height:10px;
    margin-left: 12px;
    background-image: url(/img/icones/seta.svg);
    transition: transform 0.5s;
}
.botao.seta:hover::after{
    transform: translateX(8px); 
}
.link-direto {
    font-size: 2rem;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 30px;
}

/* .link-direto::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--cor-p1);
} */
.link-direto:hover {
    color: var(--cor-p4);
}


/* Resposividade */
/* titulo segundario das paginas */
@media(max-width:1024px) {
    .titulo-pag-segundaria {
        margin-bottom: 60px;
        justify-content: center;
    }
    .titulo-pag-segundaria span::before {
         display: none;
    
    }
    .titulo-pag-segundaria span{
        text-align: center;
    }
}

@media(max-width:769px) {
    .titulo-pag-segundaria {
        text-align: center;
        padding: 40px 0px 10px 0px;
        justify-content: center;
    }

    .titulo-pag-segundaria span::before {
        display: none;

    }

    .corpo-termo {
        padding: 40px;
    }
}

@media(max-width:415px) {
    .titulo-pag-segundaria {
        display: block;
        padding: 15px;
    }
}

/* midia do botão */
@media (max-width: 600px) {
    .botao {
        padding: .75rem 1rem;
        font-size: 1rem;
    }
}

@media(max-width:375px) {
    .botao {
        padding: 12px 12px;
        font-size: 1rem;
        margin: 0 auto;
    }
}