/* 
.page-contato-bg{
    background: linear-gradient(var(--cor-12) 500px, var(--cor-1) 0px);
    padding-bottom: 60px;
}
.contato-bg{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--cor-1);
}

.contato-preto{
    width: 468px;
    background-color: var(--cor-12);
    padding: 60px 20px;
}
.contato-preto h3{
    text-transform: capitalize;
}
.contato-preto p{
    text-transform: capitalize;
}
.contato-preto h3, p{
    padding-bottom: 20px;
}

.contato-preto li{
    padding-bottom: 10px;
}
.contato-preto a{
    display:flex;
    align-items: center;
}
.contato-rede{
    display: flex;
    margin-left: 10px;
}
.contato-rede a:hover{
    box-shadow: 0 10px 10px rgba(154, 82, 82, 0.2);
}
.contato-rede img{
    padding:20px 20px;
}
.contato-rede img:hover{
    padding: 10px 20px;
}
.local::before{
    content:"";
    width: 20px;
    height: 20px;
    background-image: url("/img/icones/local.svg");
    display: inline-block;
}
.email::before{
    content:"";
    width: 20px;
    height: 20px;
    background-image: url("/img/icones/email.svg");
    display: inline-block;
}
.fone::before{
    content:"";
    width: 20px;
    height: 20px;
    background-image: url("/img/icones/telefone.svg");
    display: inline-block;
}
.local, 
.email, 
.fone{
    display:grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
}




.form-contato {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding-top: 60px;
    margin: 0 auto;
}

.juscao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 0px;
    padding-bottom: 20px;
}

.group-nome,
.group-tel,
.grup-email {
    display: grid;
    align-items: center;
    color: var(--cor-12);
}

.group-nome > input,
.group-tel > input{
    width: 85%;
    height: 30px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
}
.grup-email>input {
    width: 170%;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.texto-mensagem label,
.texto-mensagem textarea {
    display: block;
    margin-bottom: 5px;
}

.texto-mensagem textarea {
    width: 170%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.botao {
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
} */




 /* <================== segunda opção de css ==================> */

 #contato {
     /* background: linear-gradient(var(--cor-12) 600px, var(--cor-1) 0px); */
 }
 .contato-bg-titulo{
    margin:0px;
 }

 .contato {
     display: grid;
     grid-template-columns: 5fr 7fr;
 }

 .contato-dados,
 .contato-formulario {
     padding: 60px;
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
 }

 .contato-dados {
     border-radius: 5px 0 0 5px;
     background: var(--cor-12);
 }

 .contato-formulario {
     border-radius: 0 5px 5px 0;
     background: var(--cor-1);
 }

 .contato-dados h2 {
     margin-bottom: 60px;
 }

 .contato-endereco {
     margin-bottom: 32px;
     padding-left: 28px;
     background: url("../../img/icones/local.svg") no-repeat 0px 2px;
 }

 .contato-endereco p {
     margin-bottom: 8px;
 }

 .contato-meios a {
     display: block;
     max-width: max-content;
     margin-bottom: 8px;
     padding-left: 28px;
 }

 .contato-meios a:hover {
     color: var(--cor-1);
 }

 .contato-meios a:first-child {
     background: url("../../img/icones/email.svg") no-repeat 0px 2px;
 }

 .contato-meios a:nth-child(2) {
     margin-bottom: 32px;
 }

 .contato-meios a:nth-child(3) {
     background: url("../../img/icones/telefone.svg") no-repeat 0px 2px;
     margin-bottom: 60px;
 }

 .contato-redes {
     display: flex;
     gap: 30px;
     padding-left: 28px;
 }
    

 @media (max-width: 800px) {
     .contato {
         grid-template-columns: 1fr;
     }
     #contato{
        background-color: var(--cor-12);
     }
    .contato-bg-titulo {
        margin-bottom: 20px;
    }
    .contato-bg-titulo h2 {
        padding-bottom: 10px;
    }

  

     .contato-dados h2{
        text-align: center;
        text-transform: uppercase;
        padding: 20px 0;
     }
     .contato-dados{
        margin: 0 auto;
     }
     .contato-dados,
     .contato-formulario {
         padding: 20px;

         top: -20px;
     }

     .contato-dados {
         border-radius: 5px 5px 0 0;
     }

     .contato-formulario {
         /* border-radius: 0 0 5px 5px; */
     }

     .contato-dados h2,
     .contato-meios a:nth-child(3) {
         margin-bottom: 32px;
     }

     .contato-redes {
         margin-bottom: 12px;
     }
 }
