.seguro-bg {
    background-color: var(--cor-11);
    bottom: 60px;
}

.seguro-corpo {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.inform-conteudo h2 {
    grid-column: 1/5;
    padding: 60px 0 100px 0;
    grid-auto-columns: 0 auto;
    /* text-align: center; */
}

.inform-conteudo h2::before {
    display: inline-block;
    content: "";
    width: 30px;
    height: 8px;
    background-color: var(--cor-p1);
    position: relative;
    top: -18px;
    left: -8px;
}

.seguro-corpo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.seguro-corpo ul {
    padding-bottom: 20px;

}

.seguro-corpo ul li {
    display: flex;
    padding-bottom: 10px;
    gap: 8px;
    font-family: Roboto;
    font-size: 20px;
    text-transform: capitalize;
    color: var(--cor-6);
}

.prata {
    background-color: var(--cor-12);
    padding: 20px;
    border-radius: 13px;
    max-width: 600px;
    margin-bottom: 60px;
}

.ouro {
    background-color: var(--cor-12);
    padding: 20px;
    border-radius: 13px;
    max-width: 600px;
    margin-bottom: 60px;
}

.preco-ouro-prata {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
    padding-bottom: 20px;
}

.preco-ouro-prata h4 {
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 47px;
    text-transform: uppercase;
}

.preco-ouro-prata p {
    text-align: right;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 47px;
    text-transform: capitalize;

}

.preco-ouro-prata span {
    grid-column: 2;
    margin-top: -40px;
    margin-bottom: 40px;
    text-align: right;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-transform: capitalize;
}

.btn-escuro {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--cor-11);
    border-radius: .25rem;
    box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: var(--cor-1);
    font: 600 18px/1.35 "Poppins", sans-serif;
}

.btn-escuro:hover {
    background-color: var(--cor-8);
    color: var(--cor-1);
    color: var(--cor-12);
}

/* resposivo */
@media(max-width:800px) {

    .seguro-corpo h2 {
        margin-bottom: -60px;
    }

    .seguro-corpo {
        display: flex;
        flex-direction: column;
        text-align: center;
    }



    .prata {
        background-color: var(--cor-12);
        padding: 20px;
        border-radius: 13px;
        max-width: 400px;
    }

    .ouro {
        background-color: var(--cor-12);
        padding: 20px;
        border-radius: 13px;
        max-width: 400px;
    }

    .seguro-corpo h4 {
        font-size: 20px;
    }

    .seguro-corpo p {
        font-size: 20px;
    }

    .seguro-corpo span {
        font-size: 10px;
        margin-top: -58px;
    }

    .seguro-corpo ul li {
        font-size: 17px;
        width: 600px;
    }

    .seguro-corpo a {
        font-size: 15px;
    }


}

@media(max-width:600px) {
    .btn-escuro {
        padding: .75rem 1rem;
        font-size: 1rem;
    }

    .inform-conteudo h2 {
        padding-top: 60px;
        margin-bottom: -40px;
        text-align: center;
    }

    .inform-conteudo h2::before {
        display: inline-block;
        content: "";
        width: 6px;
        height: 22px;
        background-color: var(--cor-p1);
        position: relative;
        top:0px;
        left: -8px;
    }
}

@media(max-width:375px) {
    .inform-conteudo h2 {
        padding-top: 20px;
        margin-bottom: -80px;
    }

    .seguro-corpo ul li {
        font-size: 17px;
        width: 250px;
    }

    .btn-escuro {
        padding: 8px 12px;
        font-size: 1rem;
        margin: 0 auto;
    }

}