.tecnologia-bg {
    background: var(--cor-11);
    box-shadow: inset 0 7.5rem var(--cor-1), inset 0 -7.5rem var(--cor-1);
    margin-bottom: 60px;
}

.tecnologia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0rem 2.5rem;
    padding-top: 120px;
   
}

.tecnologia-conteudo {
    align-self: end;
    padding-bottom: 12.5rem;
}

.tecnologia img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .25rem;
    margin-top: -50px;
}

.tecnologia h4 {
    padding-top: 1.25rem;
    font-size: 1.5rem;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.tecnologia h4::before {
    content: '';
    display: inline-block;
    width: 1.625rem;
    height: .5rem;
    background: var(--cor-p1);
    margin-right: .5rem;
}

.tecnologia-conteudo h2 {
    padding-bottom: 60px;
    line-height: 1.1;
}

.tecnologia p {
    margin-bottom: 1.25rem;
    color: var(--cor-5);
}

.tecnologia-info {
    margin-top: 5.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.75rem;

}

.motor-rastreador {
    align-items: center;
}

.motor-rastreador h3 {
    text-transform: uppercase;
    width: max-content;
    padding: 10px 0
}

.tecnologia-info img {
    display: inline;
    padding: 0 .625rem 0 0;
}

.tecnologia-info p {
    max-width: 12.5rem;
    padding-top: .625rem;
}

/* Resposividade */
/* inicio da main introdução */

@media (max-width: 800px) {
    .tecnologia-bg {
        background: var(--cor-11);
        padding-top: 2.5rem;
        box-shadow:none;
    }

    .tecnologia {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding-top: 0px;
    }
    .tecnologia-info{
        margin-top: 60px;
    }
    .tecnologia-conteudo{
        padding-bottom: 40px;
    }

    .tecnologia h4 {
        padding-top: 5px;
        font-size: 1.5rem;
        padding-bottom: 40px;
        display: flex;
        align-items: center;
        text-transform: capitalize;
    }

    .tecnologia h2 {
        padding-bottom: 20px;
        
    }

    .tecnologia a {
        font-size: 1.5rem;
        padding-bottom: 10px;
    }

    .motor-rastreador {
        /* margin: 20px 0px 20px 0px; */
        display: block;
        padding-bottom: 40px;
    }

    .tecnologia img {
        height: 300px;
        width: 100%;
    }
}

@media (max-width:414px) {
    .tecnologia-conteudo ul {
        margin: 40px 0px 60px 0px;
        display: block;
        width: 400px;
    }

    .tecnologia-conteudo ul li span {
        padding-bottom: 40px;

    }

    .tecnologia a {
        font-size: 1.2rem;
    }

    .tecnologia span img {
        display: none;
    }
}
@media(max-width:375px){
    .tecnologia-conteudo h2 {
        padding-bottom:120px;
        margin: 0  8px;
        
    }
    .tecnologia-conteudo p{
        padding-bottom: 20px;
    }
    .tecnologia-info {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
        
    }
    .tecnologia-info img{
        display: none;
    }
    .motor-rastreador h3{
        padding-top: 20px;
    }
    .motor-rastreador{
        padding-bottom: 20px;
    }
    .tecnologia img{
        padding:20px 0 60px;
    }
}