.relato-bg{
    background-color: var(--cor-p5);
}
.relato-conteudo{
    display: flex;
    gap: 101px;
    padding: 20px 101px 20px 10px;
}
.relato-conteudo img {
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.relato-conteudo h3{
    text-transform:capitalize;
    padding:50px 0px 32px 50px;
}
.relato-conteudo p{
    padding:10px 0px 60px 0px;
    text-transform: capitalize;
}
#pessoa-relato{
    margin:60px 0px 0px 0px;
    align-self:start;
    text-transform: capitalize;
}

@media(max-width:1200px) {
    .relato-conteudo h3 {
        font-size: 30px;
        padding: 20px 0px 32px 40px;
    }

    .relato-conteudo p {
        padding: 0px 0px 40px 0px;
        font-size: 20px;
    }

    #pessoa-relato {
        margin: 30px 0px 0px 0px;
        align-self: start;
        text-transform: capitalize;
        font-size:22px ;
    }
}
@media(max-width:800px) {
    .relato-conteudo {
        display: inline-block;
        gap: 101px;
        padding: 50px ;
    }
    .relato-conteudo h3{
        font-size: 24px;
    }
    .relato-conteudo img {
        height: 300px;
        width: 100%;
        margin-bottom: 20px;
    }
    #pessoa-relato{
        font-size: 18px;
    }
}